<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beyond GitLab Auto DevOps Workshop</title>
    <meta name="description" content="A workshop to get started with GitLab Auto DevOps.">
    <meta name="author" content="Christoph Walter">
    <style>
        html {
            font-family: sans-serif;
        }

        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin: 0;
        }
    </style>
</head>

<body>
<h1>Hello, World!</h1>
</body>
</html>
